* {
    font-family: "Century Gothic", sans-serif;
    color: #141F0D;
}
.sign-body {
    background-color: #fcfdfb;
}

.index-body {
    background-color: #fcfdfb;
}

.navbar-toggler {
    background: #0b5131;
}

.nav_styling {
    padding: 1% 0% 1% 0%;
    background-color: #141F0D !important;
    border-bottom: 3px rgba(25, 135, 84, .9) solid;
}

.navbar-brand {
    color: #F4F9F1;
    pointer-events: none;
}

.nav-link {
    color: #F4F9F1;
}

.nav-link:hover {
    color: white;
}

.activated {
    color: #198754;
    pointer-events: none;
}

.left-informational {
    float: left;
    height: 40%;
    width: 30%;
    margin-left: 12%;
    margin-top: 5%;
    background: radial-gradient(circle at 100%, #141F0D, #141F0D 50%, #198754 75%, #141F0D 75%);
    padding: 4% 4% 4% 4%;
}

.left-informational li {
    color: #fcfdfb !important;
}

.left-informational p {
    color: #F4F9F1 !important;
}

.finance-examples {
    list-style-type: none; 
    line-height: 40px;
    padding-left:10%;
}

.left-titling {
    float: right;
    margin-top: 16%;
    color: black;
    margin-left: 10%;
    margin-right: 12%;
}
.sign_in {
    background-color: #F4F9F1;
    width:75%;
    margin-top:2%;
    border-top:2px rgba(25, 135, 84, .5) solid;
    border-left:2px rgba(25, 135, 84, .5) solid;
    border-right:2px rgba(25, 135, 84, .5) solid;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5% 25% 10% 25%;
}

.sign_in h1 {
    text-align: center;
    font-weight: 600;
    padding-bottom: 10%;
}

.sign_in .form-label {
    font-size: large;
    font-weight:500;
}


.btn-primary {
    font-size:larger;
    font-weight: 500;
    background-color: #198754;
    border: 2px rgba(25, 135, 84, .5) solid;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0b5131;
    border: 2px rgba(25, 135, 84, .5) solid;
    font-size:larger;
    font-weight: 500;
}

.sign_in_btn_container {
    display: flex;
    justify-content: center;
    height: 10vh;    
    padding: 10px 0px 10px 0px;
}